.employee .topbar img.state{
    height: auto;
    max-height: 35px;
}
.citizen-home-footer {
  position: initial !important;
}

.CitizenHomeCard .links
{
  display: block;
}


.result{
  overflow-x: scroll;
  width: calc(100vw - 424px);
}