.employee .topbar img.state{
    height: auto;
    max-height: 35px;
}
.citizen-home-footer {
  position: initial !important;
}

.result{
  overflow-x: scroll;
  width: calc(100% - 50px);
}